body {
    color: #ffffff;
    font-size: 1rem;
}
.navbar{
    background: rgba(6, 12, 34, 0.8);
}
.img-default {
    height: 50px;
    width: 200px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    color: #ffffff;
    border: none;
}
.navbar-nav {
    height: 100%;
    text-align: center;
}
.active {
    border-bottom: 2px solid #f82249;
    color: #ffffff !important;
}
.nav-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}
.nav-link:hover {
    border-bottom: 1px solid #f82249;
    color: #ffffff;
}
.btn-custom {
    background: #f82249;
    border-radius: 15px;
    color: #fff;
    font-size: .9rem;
    font-weight: normal;
}
.btn-custom:hover{
    background: inherit;
    border: 2px solid #f82249;
}
.background {
    width: 100%;
    height: 80vh;
    background: url(img/intro-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.background:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.background .intro-container{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}
.intro {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}
.market {
    color: #f82249;
}
.default-para {
    font-size: 1.3rem;
}
.play {
    font-size: 6rem;
    color: #f82249;
}
.btn-default {
    background: inherit;
    border: 2px solid #f82249;
    border-radius: 15px;
    color: #fff;
}
.btn-default:hover {
    background: #f82249;
    color: #ffffff;
}
.about {
    background: url(img/about-bg.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
}
.about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
.event-head {
    color: #000000;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: bold;
}
.event-para {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-size: 1.2rem;
}
.underline {
    width: 70px;
    background: #f82249;
    height: 2px;
}
.first-bg {
    height: 250px;
    background: url(img/4.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}
.second-bg {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(62, 62, 87, 0.6);
}
@media (max-width: 576px){
    .intro {
        font-size: 3rem;
    }
    .default-para {
       font-size: 1rem;
    }
}