@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
body {
  font-family: 'Audiowide', cursive;
  background-color: #2D2926;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  overflow-x: hidden;
}

.row {
  width: 100%;
}

nav {
  margin-top: 80px;
  text-align: right;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin-bottom: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #626160;
  font-weight: 700;
  font-size: 12pt;
}

nav ul li a:hover {
  text-decoration: none;
  color: #626160;
}

.align-center {
  text-align: center;
}

.about {
  color: #626160;
  border: 2px solid #6b6a6a;
  border-radius: 15px;
  margin-top: 30px;
  padding: 30px;
}

.about:nth-child(1) {
  margin-left: 100px;
  margin-right: 20px;
}

.about p:nth-child(1) {
  font-size: 15pt;
}

.about p:nth-child(2) {
  font-size: 9pt;
}

.flex.team {
  margin-left: 30px;
}

.flex.team img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
}

.p-team {
  position: absolute;
  color: #626160;
  background-color: #2D2926 !important;
  bottom: 130px;
  left: 575px;
  padding: 10px;
  z-index: 1;
}

.ui-nav {
  list-style: none;
  margin-top: 50px;
}

.ui-nav li {
  color: #626160;
  font-weight: 700;
  font-size: 15pt;
  margin-bottom: 20px;
}

.ui-nav li:hover {
  cursor: pointer;
}

.ui-nav li.active {
  color: white;
  list-style: disc;
}

.ui {
  margin-top: -30px;
}

.ui img {
  width: 28%;
  margin-left: 70px;
}

.associate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: 170px;
}

.associate img {
  width: 15%;
  margin-top: -40px;
}

.static {
  margin-top: 30px;
  margin-left: 200px;
}

.static .img-container {
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 230px;
  border: 2px solid #666665;
}

.static .img-container img {
  height: 180px;
  width: 100%;
}

.img-container {
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid #666665;
}

.img-container img {
  height: 90px;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

fieldset {
  padding: 30px;
  border-radius: 10px;
  height: 100%;
  border: 3px solid #626160;
}

fieldset img {
  width: 100px;
  padding: 2px;
  margin-top: -100px;
  background-color: #2D2926;
  margin-left: calc(50% - 55px - 2px);
}

fieldset input {
  background-color: inherit;
  border: none;
  border: 2px solid #626160;
  width: 90%;
  padding: 10px;
  border-radius: 30px;
  margin: auto;
  color: #626160;
}

fieldset input:focus {
  outline: none;
}

fieldset textarea {
  background-color: inherit;
  border: none;
  border: 2px solid #626160;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  height: 150px;
  color: #626160;
}

fieldset textarea:focus {
  outline: none;
}

fieldset button {
  background-color: inherit;
  border: none;
  border: 2px solid #a12424;
  padding: 10px;
  color: #a12424;
  float: right;
  border-radius: 10px;
  width: 100px;
}

fieldset button:hover {
  background-color: #a12424;
  color: white;
}

fieldset button:active {
  outline: none;
}

fieldset button:focus {
  outline: none;
}

.p-static {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */